*{
    margin: 0;
    padding: 0;
    border-radius: border-box;
}

body{
    background: #dae2f8;
    background: -webkit-linear-gradient(to right, #d6a4a4, #dae2f8);
    background: linear-gradient(to right, #d6a4a4, #dae2f8);
}

nav{
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar{
    height: 8vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar div{
    flex: 1;
    display: flex;
    z-index: 10;
    position: absolute;
    left: 0;
    width: 30%;
    justify-content: center;
}

.navbar div h2{
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    right: 0;
}

.navbar ul li{
    list-style: none;
    margin: 0 50px;
    font-family: monospace;
    font-size: 1.5rem;
    z-index: 10;
    font-weight: 500;
    letter-spacing: 2px;
}

.navbar ul li:hover{
    cursor: pointer;
    transform: scale(0.98);
    opacity: 0.7;
    color: #fff;
}

.background1{
    z-index: 1;
    position: absolute;
    background: #ff512f;
    width: 100%;
    height: 100%;
    left: 1;
    opacity: 0.9;
    background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
    background: linear-gradient(to right, #dd2476, #ff512f);
}

h1{
    margin: 90px auto 20px auto;
    width: 100%;
    text-align: center;
    font-family: cursive;
    font-size: 2.2rem;
}

section{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.image1{
    margin: 20px 20px;
}

.phil{
    width: 350px;
    height: 350px;
    object-fit: contain;
}

@media (max-width: 976px){
    .navbar ul li{
        display: none;
    }
    .navbar div{
        width: 100%;
        text-align: center;
    }
}



body{
    margin: 0;
    font-size: 17px;
    line-height: 1.6;
}


#phil5{
    background-image: url('../image 1/phil5.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0 20px;
}


h1{
    font-size: 50px;
    color: #fff;
    line-height: 1.2;
    text-shadow: 0 05px 05px rgba(0,0,0,1);
}

h3{
    font-size: 25px;
    color: #fff;
    text-shadow: 0 02px 03px rgba(0,0,0,1);
}

#showcase .button{
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}


#section-a{
    padding: 20px;
    text-align: center;
}

#section-b{
    padding: 20px;
    text-align: center;
}
#section-c{
    display: flex; 
}

#section-c div{
padding: 20px; 
}



hr{
    background-color: white;
    border-style: none;
    height: 1px;
    width: 100% 
}
